{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Création de groupe{% endblock %}

{% block body %}

<form action="{{ path('creation_groupe')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit"  value="Créer" />
</form>
    
{% endblock %}