{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Recherche de groupe{% endblock %}

{% block body %}

<form action="{{ path('recherche_groupe', { 'opt': opt })}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit"  value="Rechercher" />
</form>
    
{% endblock %}