/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('../../bundles/app/css/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('../../bundles/app/css/images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../../bundles/app/css/images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* TABLESORTER 6  */

table.tablesorter6 {
	font-family:arial;
	background-color:#CDCDCD;
	margin:10px 0pt 15px;
	font-size:7pt;
	width:100%;
	text-align:left;
}

table.tablesorter6 thead tr th, table.tablesorter6 tfoot tr th {
	background-color:#e6EEEE;
	border:1px solid #FFF;
	font-size:7pt;
	padding:2px;
}
table.tablesorter6 thead tr .header {
	background-image: url('../../bundles/app/css/images/bg.gif');
	background-repeat:no-repeat;
	background-position:center right;
	cursor:pointer;
}
table.tablesorter6 tbody td {
	color:#3D3D3D;
	padding:4px;
	font-size:7pt;
	background-color:#FFF;
	vertical-align:top;
}
table.tablesorter6 tbody tr.odd td {background-color:#F0F0F6;}
table.tablesorter6 thead tr .headerSortUp {background-image:url('../../bundles/app/css/images/asc.gif');}
table.tablesorter6 thead tr .headerSortDown {background-image:url('../../bundles/app/css/images/desc.gif');}
table.tablesorter6 thead tr .headerSortDown, table.tablesorter6 thead tr .headerSortUp {background-color:#8dbdd8;}

/* FormTablesorter */

table.FormTablesorter {
	font-family:arial;
	background-color:#CDCDCD;
	margin:10px 0pt 15px;
	font-size:8pt;
	width:100%;
	text-align:left;
}
/*
table.FormTablesorter thead tr th, table.FormTablesorter tfoot tr th {
background-color:#e6EEEE;
	border:2px solid #3D3D3D; 
	font-size:10pt;
  text-align: center;
	padding:2px;
  min-height: 55px;
}



table.FormTablesorter thead tr .headerSortUp {background-image:url('../../bundles/app/css/images/asc.gif');}
table.FormTablesorter thead tr .headerSortDown {background-image:url('../../bundles/app/css/images/desc.gif');}
table.FormTablesorter thead tr .headerSortDown, table.FormTablesorter thead tr .headerSortUp {background-color:#8dbdd8;}


*/
table.FormTablesorter thead tr th, table.FormTablesorter tfoot tr th {
 	font-size:10pt;
  text-align: center;
	padding: 10px;
  border: 0px;
}
 
table.FormTablesorter thead tr .header {
	background-image: url('../../bundles/app/css/images/bg.gif');
	background-repeat:no-repeat;
	background-position:center right;
	cursor: pointer;
  border: 0px;
}
table.FormTablesorter tbody td {
	color:#3D3D3D;
	padding:4px;
	font-size:8pt;
  font-weight: bold;
	background-color:#FFF;
	vertical-align: middle;
}
/*table.FormTablesorter tbody tr.odd td {background-color:#F0F0F6;}*/

table.FormTablesorter tbody tr.odd td  { background-color: #E2E4FF; }
table.FormTablesorter tbody tr.even { background-color: white; }

/* tablesorterV2 */

table.tablesorterV2 {
	font-family:arial;
	background-color:#CDCDCD;
	margin:10px 0pt 15px;
	font-size:8pt;
	width:100%;
	text-align:left;
}
/*
table.FormTablesorter thead tr th, table.FormTablesorter tfoot tr th {
background-color:#e6EEEE;
	border:2px solid #3D3D3D; 
	font-size:10pt;
  text-align: center;
	padding:2px;
  min-height: 55px;
}
*/
table.tablesorterV2 thead tr .headerSortUp {background-image:url('../../bundles/app/css/images/asc.gif');}
table.tablesorterV2 thead tr .headerSortDown {background-image:url('../../bundles/app/css/images/desc.gif');}
table.tablesorterV2 thead tr .headerSortDown, table.tablesorterV2 thead tr .headerSortUp {background-color:#8dbdd8;}
table.tablesorterV2 thead tr th, table.tablesorterV2 tfoot tr th {
 	font-size:10pt;
  text-align: center;
	padding: 10px;
  border: 0px;
} 
table.tablesorterV2 thead tr .header {
	background-image: url('../../bundles/app/css/images/bg.gif');
	background-repeat:no-repeat;
	background-position:center right;
	cursor: pointer;
  border: 0px;
}
table.tablesorterV2 tbody td {
	color:#3D3D3D;
	padding:4px;
	font-size:8pt;
  font-weight: bold;
	background-color:#FFF;
	vertical-align: middle;
}
table.tablesorterV2 tbody tr.odd td  { background-color: #E2E4FF; }
table.tablesorterV2 tbody tr.even { background-color: white; }
