@font-face {
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  src: local('Lustria'), local('Lustria-Regular'), url(http://fonts.gstatic.com/s/lustria/v4/QyVNcCmUrUslU5SaKum0hA.ttf) format('truetype');
}
