/* 
    Document   : perso
    Created on : 28 sept. 2012, 15:33:20
    Author     : mubeda
    Description:
        Purpose of the stylesheet follows.
*/

.TabInfosB
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	vertical-align:middle;
}
.TabInfosBH
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:13px;
	text-align:left;
	vertical-align:middle;
}

.TabInfosH
{	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	text-align:center;
	font-weight:bold;
	color:'#FFFFFF';
	background-color:#7C7777; 
	border:2px solid #000000;
	vertical-align:middle;
}
.TabInfosCB,TD.TabInfosCB
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	color:'#1A2C83';
	vertical-align:middle;
}

.TabInfosC
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
}

tr.TabFooter:over {color:#FFFACD; text-decoration:none;line-height: 110%;}

.TabInfos2
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-align:left;
	margin: 2px 2px 2px 2px ;
	vertical-align:middle;
}

.TabInfos,TipsInfos
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-align:left;
	vertical-align:middle;
}

.TabInfosGray
{
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-align:left;
	text-color:gray;
	color:gray;
	vertical-align:middle;
}