/* 
    Document   : symfony
    Created on : 21 janv. 2013, 16:19:02
    Author     : mubeda
    Description:
        Purpose of the stylesheet follows.
*/


.record_actions {
  
}

.records_list {
  
}


.required {
  color: #FF0000;
}


.amuForms {
  /* padding-left: 25px;  */
  min-width: 250px;
}

.amuForms label.required{
  color: #FF0000;
}

.amuFormsLabel{ padding-left: 5px; }
.amuFormsData{ padding-left: 5px; }
