
@import "jolitree-tango.css";


#wrapper {
        width: 1000px;
}
#cl1,#cl2,#cl3, #c2,#c3,#c4,#c5 {
        float:left;
}
#cl1 {
        background-color:transparent;
        height:inherit !important;
        width: 300px;
}
#cl2 {
        background-color:transparent;
        height:inherit !important;
        width: 500px;
        position: absolute;
        left : 50%;
        margin-left: -155px;
        
}
#cl3 {
        background-color:transparent;
        height:inherit !important;
        width: 100px;
        position: absolute;
        left : 50%;
        margin-left:400px;

}
#c2 {
        background-color:transparent;
        height:inherit !important;
        width: 400px;
        position: absolute;
        left : 50%;
        margin-left: -150px;
}
#c3 {
        background-color:transparent;
        height:inherit !important;
        width: 60px;
        position: absolute;
        left : 50%;
        margin-left:275px;
        text-align: center;
}
#c4 {
        background-color:transparent;
        height:inherit !important;
        width: 60px;
        position: absolute;
        left : 50%;
        margin-left:345px;
        text-align: center;
}
#c5 {
        background-color:transparent;
        height:inherit !important;
        width: 60px;
        position: absolute;
        left : 50%;
        margin-left:405px;
        text-align: center;
}



td.titre1{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 300px;
}
td.titre2{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 420px;
}

td.titre3{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 60px;
        }

td.titre4{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 60px;
        }        

td.titre5{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 60px;
        }
        
td.titre6{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 500px;
}

td.titre7{
        background-color:#E1EAEF;
        color: #666666;
        font-weight: bold;
        font-family: Verdana, Arial;
        font-size: 11px;
        text-align: center;
        width: 100px;
        }        