{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Aide groupie {% endblock %}

{% block body %}
    <br>
    <h3> Vous pouvez consulter le document d'aide ici :  </h3>
    <br>
    <br><span class="ui-state-default ui-corner-all" ><small><a class="ui-button jqtip" onclick="this.blur();"  target="_blank" href="bundles/amucligrouper/Aide_groupie_2.pdf" style="padding:2px;"  title="Cliquez ici pour afficher l'aide de l'application" ><img src="{{ asset('bundles/app/images/ico/32/pdf.png') }}" align="absmiddle" />&nbsp;Document d'aide...</a></small></span>

{% endblock %}