{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Appartenances à des groupes privés{% endblock %}

{% block body %}

<br>

{% if nb_groups == 0 %}
    <h3>Pas de groupe privé </h3>
{% else %}
    <table class="ui-widget-content dataTable TabInfos" filter="25">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Voir</th>
            </tr>
        </thead>
        <tbody> 
        {% for group in groups %}
            <tr > 
                <td style="vertical-align: middle;">{{group.cn}}</td>
                <td style="vertical-align: middle;">{{group.description}}</td>
                <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/app/images/ico/16/view-page.png") }}" title="Gérer le groupe" class="ui-button" onclick="loadPage('{{ path('voir_groupe_prive', { 'cn': group.cn, 'opt': 'mes' }) }}');" />
                </td>
            </tr>
        {% endfor %}
        </tbody>    
    </table>
{% endif %} 
{% endblock %}
 