{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <h1>Aide concernant les groupes privés</h1>
    <br>
    <h3> Vous pouvez consulter le document d'aide concernant les groupes privés ici :  </h3>
    <div class="buttons">
        <a href="{{asset('bundles/amugroupie/groupes personnels.pdf')}}" target="_blank" style="padding:2px;"  title="Cliquez ici pour afficher l'aide sur les groupes personnels">
            <img src="{{asset('bundles/amugroupie/images/pdf.png')}}" alt=""/>
            &nbsp;Document d'aide&nbsp;
        </a>
    </div>
    <br><br>
{% endblock %}
