{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Recherche des personnes{% endblock %}

{% block body %}

    <form action="{{ path('user_recherche')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit"  value="Rechercher" />
    </form>
    
{% endblock %}