{% extends 'AppBundle::page.html.twig' %}

{% block titre %} Appartenance au groupe {% endblock %}

{% block body %}
{% if success %}        
    <h3> L'appartenance au groupe {{cn}} a été ajoutée pour l'utilisateur uid={{uid}}. </h3>
{% else %}
    <h3> Erreur lors de l'ajout au groupe {{cn}}. </h3>
{% endif %}

{% endblock %}